.TopBar{
    /* background-color: red; */
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
}
.contact-info{
    /* list-style: none; */
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    color: white;
}
.languages {
    display: none;
}
.languages ul{
   display: flex;
   justify-content: space-between;
   width: 50px;
}
.languages li{
    list-style-type: none;
}
.languages a {
    color: white;
    text-decoration: none;
}
li span {
    color: goldenrod;
}

