/* play button styles */

.play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#cda45e 50%, rgba(205, 164, 94, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
    /* bottom: 5rem; */
  }
  
.play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(205, 164, 94, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  .play-btn:hover::after {
    border-left: 15px solid #cda45e;
    transform: scale(20);
  }
  
  .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }

  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }

/* end play button styles */




  .HeaderSection{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* height: 300px; */
      
      margin-bottom: 40px;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      max-width: 1200px;
      animation: AnimateHeader-welcome-h1 1.5s;
      flex: 1.5;
      margin-bottom: 0;

      /* ; */
      
  }

 


  .Header-welcome{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-shrink: 1;
      align-items: center;
      /* background-color: green; */
  }
  @media screen and (min-width:768px) {
    .HeaderSection{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }
    .Header-welcome{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 14px;
    }
    .header-Buttons{
      margin-left: 0;
      /* ; */
    }
}

  
.Header-welcome-subdiv{
    align-items: center;
    width: 100%;
    /* ; */
    display: flex;
    flex-direction: column;
}

  .Header-welcome h1{
      margin: 0;
      font-size: 1.75rem;
      color: white;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 900;
      display: flex;
      flex-shrink: 1;
      flex-direction: column;
      align-items: center;
      text-transform: capitalize;
      /* animation: AnimateHeader-welcome-h1 1.5s; */
  }

  @media screen and (min-width: 400px){
      .Header-welcome h1{
        display: flex;
        flex-direction: row;
      }
  }

/* animations  */
  @keyframes AnimateHeader-welcome-h1 {
    0% {
      opacity: 0;
      transform: scale(0);
      
    }
    100%{
      opacity: 1;
      /* transform:skew(1); */
      /* font-size: xx-large; */
      transform: scale(1);

    }
  }



  .Header-welcome h1 span{
      color: #cda45e;
  }

  .Header-welcome h2{
      width: 100%;
    /* ; */
      font-weight: 520;
      font-size: 1.125rem;
      color: white;
      font-family: Georgia, 'Times New Roman', Times, serif;
      animation: AnimateHeader-welcome-h2 1.5s;
      /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  }



  .Header-welcome button{
      background-color: inherit;
      margin-bottom: 20px;
      /* background-color: green; */
      color: white;
      border-radius: 25px;
      border-style: solid;
      border-color: #cda45e;
      animation:  Header-welcome-buttons 1.5s;
      height: 50px;
      padding: 0 1.0rem;
      /* width: 170px; */
      border-collapse: separate;
      font-weight: 600;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }



  .header-Buttons{
      display: flex;
      /* background-color: black; */
      width: 90%;
      max-width: 18rem;

      justify-content: space-between;
      animation:  Header-welcome-buttons 0.9s;
      flex-wrap: wrap;
  }


  @keyframes Header-welcome-buttons{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }


  @media screen and (min-width:768px){
    .Header-welcome h1{
        font-size: 3rem;
    }
    .header-Buttons{
      margin: 0;
    }
    .Header-welcome h2{
      font-size: 1.375rem;
    }
    .Header-welcome button{
      /* padding: auto auto; */
    }
    
}