.Header{
    
    transition: all 10s;
    display: flex;
    flex-direction: column;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;   
    top: 0;
    bottom: 0;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
    transition: all 0.5s;
    height: 100vh;
}


@media (min-width: 800px){
    /* .Header{
        max-height: 80vh;
    } */
}

.Header::after{
    opacity: .7;
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}



