.Special{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.Special-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Special-img img{
    width: 80%;

}

.Specials-Secondiv{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    color: white;
}
.Specials-Secondiv .Special-Description{
    color: rgb(102, 99, 99);
    font-size: large;
    font-style: italic;
    display: flex;
}


@media screen and (min-width:1000px) {
    .Special-img img{
        width: 300px;
    }
    .Special{
        display: flex;
        flex-direction: row;
        width: 900px;
        height: inherit;
    }
    .Specials-Secondiv{
        width: 100%;
        height: 100%;
        padding-left: 20px;
    }

    .Special-img{
        order: 2;
        width: fit-content;
    }
}
@media screen and (min-width:1500px) {
    .Special-img img{
        width: 400px;

    }
}


