.NavBar{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    display: flex;
    align-items: center;
    /* height: 50px; */
    flex-direction: column;
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
    top: 3rem;
}

@media screen and (min-width: 750px) {
    .NavBar{
        height: 100px;
    }
}
.NavBar .logo{

    height: 50px;
    display: flex;
    margin: auto;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    /* background-color: black; */
    /* position: relative; */
    z-index: 999;
}

.Navup{
    top: 0;
    animation: moveup 0.5s ;
}


.Navdown{
 
    animation: movedown 0.8s;
}

@keyframes movedown {
    0%{
        /* transform: translateY(0); */
        top: 0;
    }
    50%{
        top: 10;
    }
}

@keyframes moveup {
    0%{
        /* transform: translateY(0); */
        top: 20px;
    }
    50%{
        top: 10px;
        /* transform: translateY(200); */
    }
    100%{
        top: 0
    }
}


@media screen and (min-width: 1100px){
    .togglebtn{
        display: none;
    }
    .NavBar {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .NavBar .logo{
        width: 90%;
    }
}