.App{
  
  /* position: relative; */
  overflow-x: scroll;
}


*{
  margin: 0; 
  padding: 0;
}


body{
  margin: 0;
  background: #0c0b09;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}


