.App{
  
  /* position: relative; */
  overflow-x: scroll;
}


body{
  /* width: fit-content; */
  /* background-color: red; */
  /* padding: 0; */
 
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}


