.TestimonySection h2{
    color: #cda45e;

}

.TestimonySection .TestimonyDiv{
    margin-bottom: 20px;
}
.TestimonySection > div > p{
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 15px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: poppins;
}
.TestimonySection > div > p::after{
    content: '';
    display: inline-block;
    height: 1px;
    width: 120px;
    background: rgba(255, 255, 255, 0.2);
    margin: 4px 10px;
}
.Testimonys{
    width: 100%;
    /* background-color: red; */
    padding: 0;
}
.Testimonys .swiper-slide{
    /* width: 100% !important; */
    padding: 0 !important;
    
  }

.Testimonys  .swiper-wrapper{
    background-color: green;
    /* width: 100% !important; */
}

.Testimonys .swiper-pagination-bullet{
    /* position: relative; 
    margin-top: 30px; */
   
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity:
}
.Testimonys .swiper-pagination-bullet-active {
    background-color: #cda45e;
    position: relative; 
    margin-top: 30px;
   
}


.Testimonys .swiper-pagination{
    position: relative; 
    margin-top: 30px;
   
    
}
