.AboutSection {
    background-repeat: no-repeat;
    background-position:center;
    z-index: 0;
    /* background-size: contain; */
    background-size: cover;
    width: 100%;
    /* height: 1000vh; */
    /* background-color: red; */
    /* position: relative; */
    /* height: fit-content; */
   
}

.secondAbout{
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
    /* background-color: green; */
}
.about-img{
    width: 80%;
    max-width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: AnimateAboutImage 1.4s;
    margin: 0 auto;
    position: relative;
    border-style: solid;
    border-width: 7px;
    transition: all 0.6s ease-in-out;
  
    
    border-width: 5px;
    border-color: rgb(112, 109, 109);
}

.about-img:hover{
    width: 90%;
    height: 350px;
}

.about-image-div{
    width: 100%;
    height: 100%;
    
    animation: AnimateAboutImage 1s;
    -webkit-animation: AnimateAboutImage 1s linear ;
}

@keyframes AnimateAboutImage{
    0%{
        width: 250px;
        height: 200px;
    }
    100%{
        
        width: 450px;
        height: 360px;
    } 
}

@media screen and (min-width: 1300px){
    .secondAbout{
        display: flex;
        flex-direction: row; 
        /* align-items: center; */
        /* background-color: red; */
        justify-content: space-evenly;

    } 
}

@media screen and(min-width: 800px) {
    .about-img{
        max-width: 300px;
    }
}


@media screen and (min-width: 1000px){
    .secondAbout{
        display: flex;
        flex-direction: row; 
        justify-content: space-evenly;
        width: 100%;
    }
    .AboutSection .content{
        max-width: 650px;
        order: 1;
        margin: auto;
    }
    .about-img{
      max-width: 390px;
       height: 340px;
       order: 2;
    }
    .about-img:hover {
        max-width: 400px;
        height: 350px;
    }  
}
.about-img img{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    
}
.AboutSection .content{
    color: white;
    width: fit-content;
    width: 90%;
    max-width: 500px;
    text-align: left;
}



@keyframes AboutContent{
    0%{
        opacity: 0;
        transform: translateY(30%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

.AboutSection .content h3{
    font-size: x-large;
}

.AboutSection .content p{
    font-size: medium;
    font-weight: 500;   
}


.AboutSection .content .fst-italic{
     font-style: italic;
}

.AboutSection .content ul{
    font-size: medium;
}



.cutters-div{
    position: absolute;
    width: 90%;
    height: 90%;
    transition: all 0.6s ease-in-out;
}

.cutters-div:hover{
    width: 95%;
    height: 95%;
}


.cutter{
    position: absolute;
    height: 80px;
    width: 80px;
    border-color: #cda45e;
    border-width: 4px;

}


.cutter.down {
    border-right-style: solid;
    border-bottom-style: solid;
   
    bottom: 0;
    right: 0%;
    width: 50px;
    height: 50px;
    
    
}
.cutter.up{
    top: 0%;
    left: 0%;
    border-left-style: solid;
    border-top-style: solid;
    width: 50px;
    height: 50px;
}



