.Menus{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1a1814;
}


@media screen and (min-width: 900px){
    .Menus {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* background-color: red; */
        grid-column-gap: 40px;
    }
}
